.price-content {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.75rem;
}

.price {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.price-content span[id="Price_Label"] {
    font-size: 1rem;
    color: var(--text-light);
}

.price sub {
    color: var(--text-light);
    font-weight: normal;
    font-size: .8em;
    margin-inline-start: .5rem;
}

:root[lang="fa"] .price {
    direction: rtl;
}

@media screen and (max-width: 768px) {
    .price-content {
        font-size: 1.3rem;
    }
}