.category-content_06 {
    --panel-width: 18rem;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
}

.panel_06 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header_06 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .75rem;
    background-color: var(--primary-xlight);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header_06 span:last-child {
    color: var(--text-dark-2);
    transition: .3s;
    font-size: .9rem;
}

.panel_06 .header_06 span:last-child:hover {
    color: var(--blue);
    cursor: pointer;
    transform: scale(1.05);
}

.cate-list_06 {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-2);
    height: 100%;
}

.item_l06 {
    --icon-opacity: 0;
    --icon-pos: .75rem;
    position: relative;
    padding: .3rem .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .3s;
    font-size: .9rem;
}

.active_p3,
.cate-list_06>li:has(.sub-menu_06:hover)>.item_l06,
.item_l06:hover {
    --icon-opacity: 1;
    --icon-pos: .25rem;
    cursor: pointer;
    background-color: var(--white);
    padding-inline-start: 1rem;
}

.item_l06::before {
    content: '\276F';
    position: absolute;
    right: var(--icon-pos);
    opacity: var(--icon-opacity);
    transition: .3s;
}

.icon_li06 {
    font-size: 1.25rem;
}

.sub-menu_06:hover,
.item_l06:hover~.sub-menu_06 {
    display: block;
}

.sub-menu_06 {
    display: none;
    position: absolute;
    background-color: var(--panel-1);
    top: 0;
    left: var(--panel-width);
    width: calc(100.5% - var(--panel-width));
    height: 100%;
    border-radius: .25rem;
    box-shadow: -5px 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: .75rem 1.25rem;
    z-index: 15;
}

.menu-content_s06 {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(17rem , 1fr));
    align-items: center;
    align-content: start;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
}

.item_sm06 {
    --icon-pos: 0;
    --icon-opacity: 0;
    position: relative;
    padding: .5rem .75rem;
    border-bottom: 1px solid var(--border-light);
    transition: .3s;
}

.item_sm06::before {
    content: '\2713';
    position: absolute;
    left: var(--icon-pos);
    opacity: var(--icon-opacity);
    color: var(--primary-dark);
    transition: .3s;
}

.item_sm06:hover {
    --icon-opacity: 1;
    cursor: pointer;
    border-color: var(--border);
    padding-inline-start: 1rem;
}

/**------    Styles for languege => Farsi     --------**/
:root[lang="fa"] .sub-menu_06 {
    right: var(--panel-width);
    left: auto;
}

:root[lang="fa"] .item_l06::before {
    left: var(--icon-pos);
    right: auto;
}

:root[lang="fa"] .item_sm06::before {
    right: var(--icon-pos);
    left: auto;
}

@media screen and (max-width: 998px) {
    .menu-content_s06 {
        grid-template-columns: repeat(auto-fill , minmax(15rem , 1fr));
    }
}