.ads{
    
}
.ads-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(21rem , 1fr));
    gap: 1.5rem;
}
.ads-card{

}
.ads img{
    width: 100%;
    aspect-ratio: 9/4;
    object-fit: cover;
}

/*_______ Make Responcive ___________*/
@media screen and (max-width: 1200px) {
    .ads-content{
        grid-template-columns: repeat(auto-fill , minmax(21rem , 1fr)) !important;
    }
}

