.panel{
    background-color: var(--white);
    border-radius: .25rem;
    padding: 1rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-line) ;
}
.header h4{
    border-bottom: 2px solid var(--primary);
    height: 100%;
    margin: 0;
    padding-bottom: .5rem;
    padding-inline: 1rem;
    
}

.btn{
    background-color: var(--primary);
    margin-bottom: .25rem;
    border-radius: .25rem;
    color: var(--white);
}
.header-btn_ss1:hover{
    background-color: var(--primary-2);
}