@import url(./assets/GlobalStyles.css);
@import url(./assets/CarouselStyles.css);

.card {
    position: relative;
    background-color: var(--white);
    border-radius: .25rem;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3s;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}
